.footer {
    background: #FFFFFF;
    padding: 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1rem;
    font-size: 1rem;
  }

.footer-left{
    width: 37%;
}
  
.footer-links {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    gap: 8rem;
    font-weight: 700;
    
}
    
  .footer-note {
    font-size: .75rem;
    font-weight: 700;
    margin-top: 1.5rem;
    width: 55%;
    line-height: 1.25rem;
    letter-spacing: .05rem;
  }

  .social-icons {
    width: 45%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 1.5rem;
  }
  