.header{
    width: 95vw;
    margin-top: 3rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: .1rem solid #E0E2D9;
    background-color: #FFFFFF;
}

.header-left{
    display: flex;
    align-items: center;
    margin-left: 4rem;
    font-size: 1.5rem;
}

.header-left > h1{
    font-family: var(--font-tertiary);
    font-weight: 800;
    font-size: 1.5rem;
}

.tm{
    font-size: .25rem;
    font-family: var(--font-tertiary);

}


.header-left img{
    height: 2rem;
    width: 2rem;
}

.header button{
    margin: .7rem;
    padding: 1.5rem 1.8rem;
    border-radius: 3rem;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 400;
    background-color: #28A263;
    color: #FFFFFF;
    cursor: pointer;
}